body {
    font-family: 'Trebuchet MS', Arial, sans-serif;  
    background-image: url(table.png);
    background-size:cover;
    color:white;
    font-weight:bold;
    height: 100vh;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style:italic;
}

button {
    color:#016f32;
    width:150px;
    background:goldenrod;
    padding: 10px 35px;
    border-radius:4px;
    font-weight:bold;
    border:2px solid darkgreen;
    margin-bottom:2px;
    margin-top:2px;
    margin-right: 25%;
    margin-left: 25%;
    display: block;
    
}

#container {
display:flex; 
justify-content:center; 
align-items: center; 
}

#inner-container {
margin-top: 300px; 
border: 2px solid black;  
width: 300px;
height: 450px;
border-radius:20px;
}

